<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />


</head>
<body>

    <div>
        <ul>
            <li><a href="/blog">Home</a></li>
            <li><a href="./contact">Contact</a></li>
            <li><a href="./about">About</a></li>
        </ul>
    </div>


        {% for result in jsonResponse %}
            <div class="container">
                <div class="app" style="height:120px">
                    <div class="header" style="padding-top: 10px;">
                            <span class="team team-left"> 
                                <img src="{{result.team_home_badge}}" style="width: 30px">
                                <span class="name">{{ result.match_hometeam_name }}</span>
                            </span>
                            <span class="score">{{ result.match_hometeam_ft_score}} - {{ result.match_awayteam_ft_score}}</span>
                            <span class="team team-right">
                                <img src="{{result.team_away_badge}}" style="width: 30px;">
                                <span class="name">{{ result.match_awayteam_name }}</span>
                            </span>
                            <div style="clear: both; width: 100%; text-align: center; font-size: 14px; margin: top 50px;">League: {{result.league_name}}</div>
                            <div style="width: 100%; text-align: center; font-size: 14px">Country: {{ result.country_name }}</div>
                    </div>
                </div>
            </div>

        {% endfor%}

</body>
</html>